.MuiButton-text {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: none;
}

.MuiButton-contained {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: none;
  background-color: #0b9882;
}

.MuiTypography-root {
  font-family: "Poppins", sans-serif;
}
